html
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    title= "Book-O-Flow"
  body
    div(class="text-center") 
      h3 Wanna a join-us 
      a(href="/register") Register Here